.ttrGame {
  font-family: verdana;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-size: 2em;
  text-align: center;
  margin: 2em auto;
  padding: 0 1em;
  cursor:default;
}

#smaller {
	font-size: smaller;
	float:left;
	cursor:pointer;
}

#bigger {
	font-size: larger;
	float:right;
	cursor:pointer;
}

#board {
	border-spacing: 0;
	margin: 0 auto;
}

#board td {
  float: left;
  width: 1.2em;
  height: 1.2em;
  /*background-color: #f09;*/
  border: solid 2px #333;
  cursor: pointer;
}

#board tr:first-child td {
  border-top: none;
}
#board td:first-child {
	border-left: none;
}
#board tr:last-child td {
	border-bottom: none;
}
#board td:last-child {
	border-right: none;
}

#board td:hover {
  background-color: #90f;
  background-color: #fed;
}

#name,td {
  font-size: 150%;
}

#name.player0:after, td.player0:after {
  content: "\2668";
  color: #09f;
}
td.player0 {
  background-color: #def;
}
#name.player1:after, td.player1:after {
  content: "\2603";
  color: #f09;
}
td.player1 {
  background-color: #fde;
}

.win {
  text-decoration: line-through;
}

#reset {
  padding: 0.1em 0.5em;
  background-color:#efd;
  border: solid 2px #333;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  color: #333;
  text-decoration: none;
  cursor:pointer;
  display:none;
  margin: 1em auto;
}
#reset:hover {
  background-color:#fed;
  opacity: 1;
}
